<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="../public//css//users.css"/>

  </head>
  <body>
 <form action="/users/create" method="POST" enctype="multipart/form-data">
  Tên  <input type="text" name="name">
   Tuổi <input type="text" name="age">
   Sdt <input type="text" name="phone">
   date
   <input type="date" name="datetime" id="">
   <input type="file" name="avatar" >
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
<a href="/users">Quay lại</a>
  </body>
</html>
