<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="../public//css//users.css"/>

  </head>
  <body>
 <form action="/users/remove" method="POST">
  Tên  <input type="text" name="name">
    <button type="submit" class="btn btn-primary">Xóa</button>
</form>
<a href="/users">Quay lại</a>
  </body>
</html>